<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Store')"/>
<div class="cont-resp">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center text-md-center">
                <h2 th:text="'Boba Tea is successfully updated for ' + ${storeName}"></h2>
                <a class="btn btn-primary" th:href="@{/store}">Kembali</a>
            </div>
            <table class="table text-center">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Topping</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="strBoba, iterationStatus : ${listStoreBoba}"
                    th:style="${iterationStatus.even} ? 'background:#f0f0f0;'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${strBoba.bobaTea.name}"></td>
                    <td th:text="${strBoba.bobaTea.topping.name}"></td>
                    <td th:text="${strBoba.bobaTea.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"/>
</body>
</html>