<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Boba Tea')"/>
<div class="cont-resp">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center text-md-center">
                <h2 th:text="'Store is successfully updated for ' + ${bobaTea.name}"></h2>
                <a class="button-back" th:href="@{/boba}">Back to boba list</a>
            </div>
            <table class="table text-center">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Operational Hour</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="strBoba, iterationStatus : ${storeBobaTea}"
                    th:style="${iterationStatus.even} ? 'background:#f0f0f0;'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${strBoba.store.name}"></td>
                    <td th:text="${strBoba.store.address}"></td>
                    <td th:text="${strBoba.store.openHour} + '-' + ${strBoba.store.closeHour}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"/>
</body>
</html>