<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"/>
<div class="cont-resp">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center text-md-center">
                <h2 th:text="${name} + ' is cannot be deleted !'"></h2>
                <p th:text="${name} + ' is currently open and / or still have boba tea.'"></p>
                <br>
                <a class="button-back" th:href="@{/store}">Back to store list</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"/>
</body>

</html>