<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Search')"/>
<div class="cont-forms">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Find Available Boba Variant by Topping</h2>
                <br>
                <form th:action="@{/search}" th:object="${boba}"method="GET">
                    <div class="row">
                        <div class="col-md-5">
<!--                            Boba Name : <br>-->
                            <select class="browser-default custom-select" name="name" th:field="*{id}">
                                <option th:value ="0">--Select Boba Tea Name--</option>
                                <option th:each="boba : ${listBobaTea}"
                                        th:value="${boba.id}" th:utext="${boba.name}"/>
                            </select>
                        </div>
                        <div class="col-md-5">
<!--                            Topping name : <br>-->
                            <select class="browser-default custom-select" name="topping" >
                                <option th:value ="0">--Select Topping Name--</option>
                                <option th:each="topping : ${listTopping}"
                                        th:value="${topping.id}" th:utext="${topping.name}"/>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type = "submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

                <div th:if="${hasSelect}">
                    <div th:if="${hasBoba}">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Ice</th>
                                <th>Sugar</th>
                                <th>Store Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="boba, iterationStatus : ${bobaTeaList}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${boba.price}"></td>

                                <td th:if="${boba.size} == 0">S</td>
                                <td th:if="${boba.size} == 1">M</td>
                                <td th:if="${boba.size} == 2">L</td>

                                <td th:if="${boba.iceLevel} == 0">Less</td>
                                <td th:if="${boba.iceLevel} == 1">Normal</td>
                                <td th:if="${boba.iceLevel} == 2">Extra</td>

                                <td th:if="${boba.sugarLevel} == 0">Less</td>
                                <td th:if="${boba.sugarLevel} == 1">Normal</td>
                                <td th:if="${boba.sugarLevel} == 2">Extra</td>

                                <td th:text="${boba.listStoreBoba}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:unless="${hasBoba}">
                        <br><br>
                        <h3 th:text="'No Boba Tea'"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>