<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Search')"/>
<div class="cont-forms">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Find Available Boba Variant by Topping</h2>
                <br>
                <form th:action="@{/search}" method="GET">
                    <div class="row text-md-center">
                        <div class="col-md-5">
                            <select name="idBobaTea" class="form-control">
                                <option value=0>--Select Boba Tea Name--</option>
                                <option th:each="boba : ${listBobaTea}"
                                        th:value="${boba.id}"
                                        th:utext="${boba.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select name="idTopping" class="form-control">
                                <option value=0>--Select Topping Name--</option>
                                <option th:each="topping : ${listTopping}"
                                        th:value="${topping.id}"
                                        th:utext="${topping.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type = "submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

                <table class="table text-md-center">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Ice</th>
                        <th>Sugar</th>
                        <th>Store Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="boba, iterator : ${bobaResultList}">
                        <tr th:each="storeBoba, iterator : ${boba.listStoreBoba}">
                            <td th:text="${iterator.count}"></td>
                            <td th:text="${boba.price}"></td>

                            <td th:if="${boba.size} == 0">S</td>
                            <td th:if="${boba.size} == 1">M</td>
                            <td th:if="${boba.size} == 2">L</td>

                            <td th:if="${boba.iceLevel} == 0">Less</td>
                            <td th:if="${boba.iceLevel} == 1">Normal</td>
                            <td th:if="${boba.iceLevel} == 2">Extra</td>

                            <td th:if="${boba.sugarLevel} == 0">Less</td>
                            <td th:if="${boba.sugarLevel} == 1">Normal</td>
                            <td th:if="${boba.sugarLevel} == 2">Extra</td>

                            <td th:text="${storeBoba.store.name}"></td>
                        </tr>
                    </div>

                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"/>
</body>
</html>