<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"/>
    <object th:include="fragments/fragment :: js" th:remove="tag"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"/>
<div class="cont-forms">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Add boba to ' + ${store.name}"></h2>
                <br>
                <form th:action="@{/store/} + ${store.id} + '/assign-boba/'" th:object="${storeBoba}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="overflow-auto">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Ice</th>
                                <th>Sugar</th>
                                <th>Topping</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="boba, iterationStatus : ${listBobaTea}"
                                th:style="${iterationStatus.even} ? 'background:#f0f0f0;'">
                                <td>
                                    <div class="custom-control custom-checkbox text-center">
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{bobaTea}" th:value="${boba.id}"
                                               id="flexCheckDefault">
                                    </div>
                                </td>
                                <td th:text="${boba.name}"></td>
                                <td th:text="${boba.price}"></td>

                                <td th:if="${boba.size} == 0">S</td>
                                <td th:if="${boba.size} == 1">M</td>
                                <td th:if="${boba.size} == 2">L</td>

                                <td th:if="${boba.iceLevel} == 0">Less</td>
                                <td th:if="${boba.iceLevel} == 1">Normal</td>
                                <td th:if="${boba.iceLevel} == 2">Extra</td>

                                <td th:if="${boba.sugarLevel} == 0">Less</td>
                                <td th:if="${boba.sugarLevel} == 1">Normal</td>
                                <td th:if="${boba.sugarLevel} == 2">Extra</td>

                                <td th:text="${boba.topping.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>

                    <input type="submit" value="Confirm" class="btn btn-primary">
                    <a class="btn btn-outline-danger" th:href="@{/store/} + ${store.id}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"/>
</body>
</html>